
body{
    background-color:rgb(230, 224, 224) ;
}
header{
    text-align: center;

}
nav{
    text-align: center;
}
main
{
    text-align: center;
    color: black;
    list-style-position: inside;
    
    h2{
        color: red;
    }
}
div{
    text-align: center;
    background-color: rgb(230, 224, 224);
    h1{
        color:black;
    }
}